@import url('https://fonts.googleapis.com/css2?family=Benne&family=Kanit:ital,wght@0,400;1,300&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Cinzel:wght@600;700;800;900&family=Kanit:ital,wght@0,400;1,300&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Benne', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Serif', serif;
    scroll-behavior: smooth;
}
/* nav bar design */
nav {
    width:100%;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    box-shadow: 1px 1px 3px gray;
    position: fixed;
    z-index:999 ;
}

nav .logo {
    height:70px;
    width:200px;
}
nav label i {
    font-size: 20px;
    display: none!important;
}
nav input {
    display: none;
}
.submenu {
    /* position: absolute; */
    left:0%;
}
.submenu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.submenu ul a {
    text-decoration: none;
    Color:black;
    font-size: 20px;
    /* width:0; */
    
}
.submenu ul a:hover {
    color:crimson;
 
    transition: all 1s;
}
/* video design */
.video  {
    font-family: 'Cinzel', serif;
    font-family: 'Kanit', sans-serif;
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.video video {
    height:100%;
    width:100%;
    object-fit: cover;
}
.video h1 {
    position: absolute;
    color:coral;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
    font-size: 80px;
    top:200px;
}
.video h2 {
    color:white;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
    font-size: 60px;
    position: absolute;
    top:300px;
}
.video p {
    font-size: 30px;
    position: absolute;
    top:400px;
    padding:10px;
    background-color:rgba(165, 42, 42, 0.657);
   
}
.video p a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.673);
}
/* first-container design */
.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:50px 200px;
    z-index:2;
}
.first-container h1 {
    padding:30px;
    font-size: 30px;
}
.first-container p {
    line-height: 2;
    font-weight:500;
    padding-bottom:30px;
}
.first-container button {
    padding:8px 30px;
    background-color:black;
    color:white;
    border-radius:30px;
    font-size: 20px;
    border:none;
    cursor: pointer;
   
}
.first-container button:hover {
   border:1px solid black;
   background-color: transparent;
    color:black;
    transition: all 1s;
    left:100%;
}
/* Second Container Design */
.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.17);
    padding:50px 0px;
}
.second-container h1 {
    font-size: 40px;
    padding-bottom:10px;
}
.subcontainer {
    display: grid;
    width:100%;
    /* background-color: red; */
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding:30px;
}
.box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 30px;
    text-align: center;
}
.box i {
    padding-bottom:25px;
    font-size: 45px;
}
.box h3 {
    padding-bottom:20px;
}
.box p {
    line-height: 1.5;
    font-weight: 500;
   
}
.box:hover i {
    color:crimson;
    transform: scale(2);
    transition: all 2s;
}
/* third container design */
    .third-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:30px;
        position:relative;
        scroll-behavior: smooth;
    }
    .third-container a {
        font-size: 40px;
    }
    .third-container .icon1 {
         position: absolute;
            right:0px;
            bottom:260px;
    }
    .third-container .icon2  {
        position: absolute;
        left:5px;
        top:320px;
    }

    .third-container h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .subcontainer-two {
        display: flex; 
        width:100%;
        overflow:hidden;
        scroll-behavior: smooth;
        gap:50px;
        padding:30px;
    }
    .image-price {
        width:300px;
         border-radius:10px;
         box-shadow: 2px 2px 3px lightgray,-2px -2px 3px lightgray;
         /* margin-bottom:30px */
        
    }
    .imagebox {
        height: 300px;
        width:300px;
        overflow: hidden;
        cursor: pointer;
    }
    .subcontainer-two .imagebox img {
        height:300px;
        width:100%;
        overflow: hidden;
        border-radius:10px 10px 0px 0px;
        }
    /* .subcontainer-two::-webkit-scrollbar {
    display: none;
    } */

    .subcontainer-two .imagebox img:hover {
         transform: scale(1.1);
         transition: all 1s;
    }
    .price-details {
        width:100%;
        padding:10px;
        text-align: center;
        
    }
    .price-details p del {
        color:gray;
        font-size: 16px;
    }
    .price-details p {
        font-size: 20px;
    }

/* Fourth Container style */
.image-container {
    width:100%;
}
.image-container .banner {
    width:100%;
    max-height:400px;
    padding-bottom: 50px;
}
.subcontainer-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 0px;
    background-color: rgba(211, 211, 211, 0.194);
    
}
.subcontainer-three p {
    padding:10px 100px;
    line-height:1.5;
    text-align: center;
}
.product-wraper {
    display: flex;
    width:100%;
    justify-content: space-between;
    padding:20px;
   
}
.product-box {
    width:300px;
    display: flex;
    flex-direction: column;
}
 .product-box .box1 {
    height:300px;
    width:300px;
    overflow: hidden;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 2px 2px 3px gray, -2px -2px 3px gray;
    

}
.product-box .box1 img{
        height:100%;
        width:100%;
        border-radius:10px;
        transition: all 1.5s;

}
 .product-box .box1 img:hover {
    transform: scale(1.1);
      border-radius:10px;
}

.product-box .product-details {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.product-box .product-details p {
    padding:10px 0px;
    text-align: left;
    font-weight: 600;
}
 .product-box .product-details span{
    justify-content: space-between;
 }
.product-box .product-details a  {
    position: absolute;
    right:80px;
    bottom:0;
    transition: all 1s;
}
.product-box .product-details a:hover {
    transform: scale(2);
    color:red;
}


/* fifth-container-design */

.icon-with-information {
    width:100%;
    display: flex;
    flex-direction: column;
}
.icon-with-information h1 {
    font-weight: 500;
    padding:20px 0px;
    text-align: center;
}
.icon-wrapper {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    background-color: rgba(211, 211, 211, 0.098);
}
.icon-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 30px;
    border-right:1px solid lightgray;
    
}
.icon-wrapper .icon-info i {
    font-size: 50px;
    padding:10px 0px;
    transition: all 1.5s;
    /* animation-name: icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate; */
    animation: icon 2s infinite alternate;

   
}
.icon-wrapper .icon-info h3 {
    font-weight: 500;
    padding:10px 0px;
    transition: all 1.5s;
}
.icon-wrapper .icon-info p {
    width:250px;
    text-align: center;
    height:80px;
}
.icon-border {
    border:none;
}

.icon-wrapper .icon-info:hover h3 {
    color:darkblue;
    transform: scale(1.2);
}

@keyframes icon {
    from {
        transform: scale(1);
        color:red;
    }
    to {
        transform: scale(-1,1);
        color:cornflowerblue;
    }
}

.seling-imagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 20px;
    background-color: rgba(211, 211, 211, 0.302);

}
.seling-imagecontainer h1  {
    color:darkred;
    font-size: 40px;
    font-weight: 400;
    padding:30px 0px;
}
.image-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:50px;
}
.image-box2 {
    height: 300px;
    width:400px;
    border-radius:10px;
     overflow: hidden;
     box-shadow: 2px 2px 5px black, -2px -2px 5px black;
}
.image-box2 img {
    height:100%;
    width:100%;
    border-radius:10px;
    transition: all 1.5s;
}
.image-box2 img:hover {
    transform: scale(1.2);
}

/* seventh card design */

.review-container {
    padding:30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.review-container .review-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:50px 10px;
}
.review-container .review-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-container .review-header i {
    font-size: 70px;
}
.review-container .review-header h1 {
    font-size: 50px;
    font-weight: 500;
    padding:0px 0px 20px 0px;
    color:rgba(110, 17, 35, 0.631);
}
.review-wrapper .review-box {
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px gray,-1px -1px 3px gray;
    border-radius: 10px;
    cursor: pointer;

}
.review-wrapper .review-box img {
    width:100%;
    height:250px;
    border-radius: 10px 10px 0px 0px;
}
.review-wrapper .review-box h3 {
    font-size: 20px;
    font-weight: 500;
    padding:10px;
    text-align: center;
}
.review-wrapper .review-box  .icon-review {
    display: flex;
    gap:10px;
    padding:10px 0px 5px 0px;
     transition:all 1.5s;
     
}
.review-wrapper .review-box  .icon-review i {
    font-size: 20px;
    color:gold;
   
   
}
.review-wrapper .review-box:hover .icon-review{
    transform: scale(1.2);
}
.review-wrapper .review-box h4 {
    font-weight: 500;
    padding:0px 0px 10px 0px;
}
.review-container .review-button {
    padding: 8px 30px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 1.5s;
    margin-top: 20px;
}
.review-container .review-button:hover {
    border:1px solid black;
    background-color: transparent;
    color:black;
    
}
.top {
    position: fixed;
    right:0;
    bottom:100px;
    width:60px;
    height:60px;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.148);
    border: 1px solid lightgray;
    padding:10px;
}
.top i {
    font-size: 20px;
}

/* footer design  */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    padding:40px 20px;
    background-color: rgba(211, 211, 211, 0.272);
}
.first-footer {
    /* width:400px; */
    display: flex;
    flex-direction: column;
     gap:10px;
}
.first-footer p {
    font-size: 18px;
}
.first-footer p i {
    font-size: 20px;
    padding:10px;
}
.first-footer .footer-logo img {
    height:80px;
    width:150px;
}
.footer-icon-wrapper {
    display: flex;
    gap:10px;
}
.footer-icon-wrapper a {
    text-decoration: none;
    color:black;
}
.footer-icon-wrapper a i {
    font-size: 20px;
    padding:10px;
    border-radius:50%;
    border:1px solid  black;
    transition: transform 1s;
}
.footer-icon-wrapper a i:hover {
    border:none;
    color:red;
    transform: scale(1.3);
}
.second-footer {
    display: flex;
    flex-direction: column;
    gap:15px;
}
.second-footer h2 {
    font-weight: 400;
    font-size: 23px;
    transition: all 1s;
    margin-bottom:10px;
    border-bottom: 0;
    display: inline;
    width:0%;
    color:crimson;
}
.second-footer h2:hover {
    border:100%;
    color:cornflowerblue;
    border-bottom: 5px solid purple;
    width:40%;
}
.second-footer p {
    font-size: 18px;
    cursor: pointer;
    width:200px;
} 
.second-footer p:hover {
    color:red;
}
.footer-content {
   height:300px;
}





























@media screen and (max-width:800px) {
    .submenu ul {
        position: fixed;
        flex-direction: column;
        top: 76px;
        height: 86vh;
        width: 80%;
        left: 0;
        justify-content: start;
        align-items: center;
        gap: 40px;
        padding-top: 30px;
        background-color:rgba(134 100 237);
        left:-100%;
        transition:all 0.5s;
    }
    nav .logo {
        height: 55px;
        width: 93px;
    }
    nav label i {
        font-size: 29px;
        position: absolute;
        right: 26px;
        top: 26px;
        display: block!important;
    }
    nav input:checked ~ .submenu ul {
        left:0%;
       
    }
    .third-container a {
        display: none;
    }
    .first-container {
    width: 100%;
    flex-direction: column;
    padding: 50px 22px;
}
.first-container h1 {
    font-size: 23px;
    padding-bottom: 20px;
    text-align: center;
}
.first-container p {
    line-height: 1.5;
    padding-bottom: 30px;
}
.second-container h1 {
    font-size: 33px;
}
.subcontainer {
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}
    .top {
    width: 40px;
}
}

@media screen and (min-width:300px) and (max-width:490px) {
    
 .video h1 {
    font-size: 36px;
    text-align: center;
    }
  .video h2 {
    font-size: 31px;
      }
      .video p {
    font-size: 21px;
    top: 357px;
    }
}
@media screen and (min-width:490px) and (max-width:560px) {
    .video h1 {
        font-size: 35px;
        text-align: center;
        }
      .video h2 {
        font-size: 34px;
        top:268px;
          }
          .video p {
        font-size: 21px;
        top: 334px;
        }
}
@media screen and (min-width:560px) and (max-width:800px) {
    .video h1 {
        font-size: 40px;
        text-align: center;
        }
      .video h2 {
        font-size: 35px;
        top: 265px;
          }

          .video p {
        font-size: 25px;
        top: 338px;
        }
        .icon-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
        }
    .icon-info {
    border:none;
    }
    .image-box2 {
    width: 100%;
    }
    h1 {
    text-align: center;
}
.image-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.seling-imagecontainer {
    padding: 50px 0px;
}
}
    
@media screen and (min-width:800px) and (max-width:1100px) {
    .submenu ul {
        gap: 34px;
    }
    .submenu ul a {
        font-size: 18px;
    }
    nav .logo {
        height: 55px;
        width: 105px;
}
.video h1 {
    font-size: 58px;
    text-align: center;
}
.video h2 {
    font-size: 52px;
    top: 284px;
}
.video p {
    font-size: 30px;
    top: 370px;
}
.third-container a {
    display: none;
}
.icon-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
    .icon-info {
     padding: 10px 19px;
    border-right: 1px solid lightgray;
    }
    .image-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.image-box2 {
    width: 300px;
    }
}
@media screen and (min-width:300px) and (max-width:646px) {
    .third-container {
    width: 100%;
    padding:0px;
    }
    .third-container h1 {
    font-size: 34px;
    text-align: center;
}
.subcontainer-two {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:0px;
}
.imagebox {
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.price-details {
    width: 100%; 
    }
    .price-details h3 {
        font-size: 15px;
    }
}
.image-container .banner {
    min-height: 218px;
}

@media screen and (min-width:646px) and (max-width:850px) {
    .third-container {
    padding: 30px;
    
}
.subcontainer-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 38px 30px;
    /* padding:35px; */
}
.image-container .banner {
    min-height: 250px;
}
}

@media screen and (min-width:850px) and (max-width:1100px) {

    .subcontainer-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.image-container .banner {
    min-height: 280px;
}
}


/* fourth-container responsive */ 

@media screen and (min-width:300px) and (max-width:670px) {
    .subcontainer-three {
        width:100%;
    }

    .subcontainer-three p {
        padding:0;
    }

    .product-wraper {
        display: grid;
        grid-template-columns:auto;
        gap: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .review-container .review-wrapper {
    flex-direction: column;
}
.review-container .review-header h1 {
    font-size: 30px;
    text-align: center;
}   
.review-container .review-button {
    padding: 8px 20px
}
.footer {
    flex-direction: column;
    padding: 40px 20px;
    align-items: start;
}
.first-footer .footer-logo img {
    height: 58px;
    width: 100px;
}
.first-footer p {
    font-size: 15px;
    text-align: start;
}
}
@media screen and (min-width:670px) and (max-width:900px) {
    .subcontainer-three {
        width:100%;
    }
    .product-wraper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .review-container .review-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap:40px;
    }
    .review-container .review-header h1 {
    font-size: 40px;
    text-align: center;
}
.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
}
.second-footer p {
    width:150px;
}
.first-footer {
    width: 300px;
}
}
@media screen and (min-width:900px) and (max-width:1024px) {
    .product-wraper {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .review-container .review-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap:100px;
    }
    .review-container .review-header h1 {
    font-size: 30px;
    text-align: center;
}
.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 46px;
    padding: 40px 0px;
}
.second-footer p {
    width:150px;
}
.first-footer {
    width: 400px;
}
}

/* Fifth container responsive */ 

@media screen and (min-width:300px) and (max-width:560px) {
    .icon-wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
         padding: 0px;
    }
    .icon-info {
        border-bottom: 1px solid lightgray;
        border-right:none;
    }
    .seling-imagecontainer h1 {
    font-size: 25px;
    text-align: center;
    }
    .image-wrapper {
    grid-template-columns: auto;
    }
    .image-box2 {
    width: 100%;
    }
    
}
